# todo: 
- coger libros random del drive

In [118]:
%load_ext autoreload
%autoreload 2
from u_base import get_now
from utils import get_fakes, get_frecuencia_words, fichero_para_mathematica

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
path_calibre = 'c:/Users/milen/Biblioteca de calibre/'

In [61]:
dic_fake, di_counts = get_fakes(path_calibre)

** La ultima fecha de ficheros es:  20210731
                                                    0
0                   Homo Deus - Yuval Noah Harari.txt
1            El planeta americano - Vicente Verdu.txt
2   De que hablo cuando hablo de co - Haruki Murak...
3             El baston runico - Michael Moorcock.txt
4             Papelucho historiador - Marcela Paz.txt
5   El caballero de las espadas - Michael Moorcock...
6       El dragon en la espada - Michael Moorcock.txt
7                 Diario de Ana Frank - Ana Frank.txt
8                            Edipo Rey - Sofocles.txt
9              La cantante calva - Eugene Ionesco.txt
10       La vida de Lazarillo de Tormes - Anonimo.txt
11            Las brujas de Salem - Arthur Miller.txt
12                            Cosmos - Carl Sagan.txt
13     Historia de dos ciudades - Charles Dickens.txt
14  Ami, el nino de las estrellas - Enrique Barrio...
15           La forma del agua - Andrea Camilleri.txt
16                   Cantar del Mio Cid - Anonimo.txt
17  Corazon tan blanco _ A Heart So - Javier Maria...
18                  La tabla rasa - Steven Pinker.txt
19           El ascenso de Endymion - Dan Simmons.txt
20       El cuento de la criada - Margaret Atwood.txt
21           Cuentos de Eva Luna - Isabel Allende.txt
22                  Hijo de ladron - Manuel Rojas.txt
23       El Principito - Antoine de Saint-Exupery.txt
24     El desierto de los tartaros - Dino Buzzati.txt
25  Cien anos de soledad - Garcia Marquez, Gabriel...
26  Anton Chejov - Los campesinos - Biblioteca Vir...
27           Huerfanos de la Helice - Dan Simmons.txt

C:\Users\milen\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ll', 've'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

In [119]:
conteo = get_frecuencia_words(di_counts)
conteo

                  count
palabra
de             118342.0
la              78511.0
que             68322.0
y               64857.0
el              55959.0
...                 ...
jinping             1.0
jima                1.0
jianzhi             1.0
jemeres             1.0
identificarán       1.0

[20051 rows x 1 columns]

In [121]:
df_mat, filename_mat= fichero_para_mathematica(dic_fake)